.main-page {
  background-image: url(../../public/b.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
}

.child {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
}