.table-container {
    cursor: default;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 50px;
    border-radius: 15px;
    width: 100%;
    max-width: 900px;
    max-height: 560px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(253, 253, 253, 0.5);
    backdrop-filter: blur(2px);
    transition: box-shadow 0.3s ease;
}

.table-container:hover {
    box-shadow: 0 0 20px rgba(114, 61, 240, 0.8);
}

.table-container h2 {
    display: flex;
    justify-content: center;
}

.table-container .table-wrapper {
    overflow-x: auto;
}

.table-container .table-wrapper #table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.6);
}

.table-container .table-wrapper #table th,
.table-container .table-wrapper #table td {
    padding: 12px;
    text-align: center;
}