.navbar {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.navbar-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.navbar-link {
    font-size: 1rem;
    color: white;
}